@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fontspring' !important;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Fontspring-black.otf') format('OTF');
  font-weight: normal;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Fontspring-bold.otf') format('OTF');
  font-weight: bold;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Fontspring-light.otf') format('OTF');
  font-weight: normal;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Fontspring-medium.otf') format('OTF');
  font-weight: medium;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Fontspring-regular.otf') format('OTF');
  font-weight: normal;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/Gordita-Black.otf') format('OTF');
  font-weight: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Bold.otf') format('OTF');
  font-weight: Bold;
}


@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Bold.otf') format('OTF');
  font-weight: Bold;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Light.otf') format('OTF');
  font-weight: Light;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Medium.otf') format('OTF');
  font-weight: Medium;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Regular.otf') format('OTF');
  font-weight: Medium;
}